<!doctype html>

<head><title>Buranji</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
        <h2> BURANJI SEARCH </h2>
<!--<img src="/static/header.png" alt="header" width="1150" height="150"><br><br> -->
        <br><br>
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" name="query" placeholder="Search...">
		<button type="submit">Search</button>
	</form>

	{% if results %}
		<h1>Search Results</h1>
            <div justify-content="center">
               <table justify-content="center" align-items="center">
                 <thead>
                   <tr>
                     <th>No.</th>
                     <th>Name</th>
                     <th>Reference</th>
                   </tr>
                 </thead>
                 <tbody>
                   {% for result in results %}
                   <tr>
                     <td>{{ loop.index }}</td>
                     <td>{{ result.name }}</td>
                     <td>{{ result.reference }}</td>
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>
            </div>
	{% else %}
		<p>No results found.</p>
	{% endif %}

        <br><br>
	<h1>You can search the following names</h1>
	<ul>
	{% for name in names %}
		<li>{{ name }}</li>
	{% endfor %}
	</ul>

</body>
