<!DOCTYPE html>
<html>
<head>
	<title>Buranji Team</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .container {
        margin: 40px auto 0;
        }

        td {
            vertical-align: middle;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <a class="navbar-brand" href="{{ url_for('index') }}">Buranji</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('book') }}">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('team') }}">Team</a>
        </li>
      </ul>
    </nav>

	<div class="container">
		<h2>Buranji Team</h2>

		<h4>Buranji Technical Team</h4>
		<p>The list of contributors and promoters of Buranji is growing everyday.</p>
		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<td> <b> Kishori M Konwar, PhD, Technical architect, Boston, USA </b>  <br> 
						Dr. Konwar is originally from Assam and is a 
						technologist by profession with a deep interest in the history and culture of 
						Assam. He is a researcher in computer science, computational biology, and 
						applied machine learning/AI.
					</td>
				</tr>
				<tr>
					<td> <b> Santiago Paiva, Chief Product Officer, Montreal, Canada </b>  <br>
						Santiago is a experienced software architect with over 10+ years of experience in 
						 various technology industries. His specializations include distributed systems 
						 and distributed computing and deep learning systems. His hobbies include 
						 programming, cryptocurrency, blockchain, technolgy and soccer.
					</td>
				</tr>
				<tr>
					<td> <b> Ranjan Konwar, MA: Product Designer, Sibsagar, Assam, Index </b>  <br>
						Ranjan Konwar is a freelance journalist, social worker, and philantrophist with a 
						strong interest in Assamese history. He is actively involved in numerous 
						social projects to uplift Assamese society, promotes education, and strongly 
						advocates scientific education in rural areas. 
					</td>
				</tr>
				<tr>
					<td> <b> Biman Konwar, Advisor, Betbari, Sibsagar, Assam, India </b> <br>
						Mr. Biman Konwar is a retired school teacher who taught science at various 
						levels in Assam and Nagaland. He is passionate about preserving the historical 
						sites in Assam and believes that reference and data-based history education is 
						the correct way to protect Assamese history from distortion.
					</td>
				</tr>

				<tr>
					<td> <b> Siddartha Sharma, Legal Adviser, Guwahati, Assam, India </b>  <br>
					Mr. Sharma is an advocate at the Guwahati High Court and is an avid proponent 
					     of the preservation of the history, language,
                                           and culture of Assam.
					</td>
				</tr>
				<tr>
					<td> <b> Biraj Handique, B.Tech., Artist/Designer, Sivasagar, Assam, India </b> <br>
                                              Mr. Handique is a mechanical engineer by profession and an artist by hobby. He has won awards in national-level art competitions.
					</td>
				</tr>



			</tbody>
		</table>
	</div>

	<div class="container">
		<h3>Historians</h3>
		<table class="table table-striped table-hover">
			<tbody>

                                <tr>
					<td> <b> Dr. Dayananda Borgohain, Guwahati, Assam </b>  <br>
                                              Dr. Dayananda Borgohain is a highly respected historian and educator in 
                                              Assam, India. He is known for his extensive knowledge of the history and 
                                              culture of the region, and has authored several books on the subject. 
                                              Dr. Borgohain's contributions to the field of education and history 
                                              research have been widely acknowledged and appreciated, 
                                              making him a prominent figure in the academic community.
					</td>
				</tr>
                                <tr>
					<td> <b> Khyanta Phukan, Patsaku, Sivasagar, Assam </b> <br>
                                              Mr. Phukan is an educator and  historian. He has authored numerous articles on the
                                              history of Assam. 
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">
                            The contents available on this website are sourced from public domain history books whose 
                            copyrights have expired or the authors permitted us to source from. While we make every effort to 
                            ensure the accuracy and relevance of the information provided, we cannot 
                            guarantee that all information is error-free or up-to-date. 
                            Therefore, users of this website should exercise caution when using the information and 
                            consult other sources for verification.
                          </span>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>

