<!DOCTYPE html>
<html>
<head>
	<title>Buranji Team</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .container {
        margin: 40px auto 0;
        }

        td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
	<div class="container">
		<h2>Buranji Team</h2>
		<p>The list of contributors and promoters of Buranji is growing everyday.</p>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Location</th>
					<th>Introduction</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Kishori M Konwar, PhD</td>
					<td>Technical architect</td>
					<td> Boston, USA </td>
					<td>
						Dr. Konwar is originally from Assam and is a 
						technologist by profession with a deep interest in the history and culture of 
						Assam. He is a researcher in computer science, computational biology, and 
						applied machine learning/AI.
					</td>
				</tr>

				<tr>
					<td>Ranjan Konwar, MA</td>
					<td>Product Designer</td>
					<td> Betbari, Sibsagar, Assam</td>
					<td>
						Ranjan Konwar is a freelance journalist, social worker, and philantrophist with a 
						strong interest in Assamese history. He is actively involved in numerous 
						social projects to uplift Assamese society, promotes education, and strongly 
						advocates scientific education in rural areas. 
					</td>
				</tr>
				<tr>
					<td>Biman Konwar</td>
					<td>Advisor</td>
					<td>Betbari, Sibsagar, Assam</td>
					<td>
						Mr. Biman Konwar is a retired school teacher who taught science at various 
						levels in Assam and Nagaland. He is passionate about preserving the historical 
						sites in Assam and believes that reference and data-based history education is 
						the correct way to protect Assamese history from distortion.
					</td>
				</tr>
				<tr>
					<td>Santiago Paiva</td>
					<td>Software Developer</td>
					<td>Montreal, Canada</td>
					<td>
						Santiago is a Software Developer working in the Cloud Computing sector. He is interested in Distributed Systems
						and Decentralized technologies. 
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">This website provides links to external sources, but does not own or endorse the online resources.</span>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

